:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --another-text-color: rgba(255, 255, 255, 0, 6);
  --akcent-color: #2196f3;
  --bg-color: #ffffff;
  --second-bg-color: #f5f4fa;
}

body {
  color: var(--main-text-color);

  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
}

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* дополнительный цвет текста rgba(255, 255, 255, 0,6) */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* вторичный цвет фона #F5F4FA */

/* Шапка сайта */

.list {
  list-style: none;
}

.site-logo {
  color: var(--main-text-color);

  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;
  text-decoration: none;
}

.site-logo span {
  color: var(--akcent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--akcent-color);
}

.site-nav .link.current {
  color: var(--akcent-color);
}

.link {
  color: var(--main-text-color);

  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1em;
  letter-spacing: 0.02em;
}

.header-links .link,
.footer-discript .link {
  color: var(--second-text-color);
}

.header-links .link:hover,
.header-links .link:focus {
  color: var(--akcent-color);
}

/* основной сайт */
/* секция герой */
.section-hero {
  background-color: var(--second-text-color);
}

.main-title {
  color: var(--bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--bg-color);
  background-color: var(--akcent-color);

  font-size: 16px;
  font-family: inherit;
  font-style: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/* Секция преимуществ */
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-advant .subtitle {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.1em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-advant .descript {
  color: var(--second-text-color);

  line-height: 1.7em;
}

/* Секция наша команда */
.section-comand {
  background-color: var(--second-bg-color);
}

.section-comand .subtitle,
.section-comand .descript {
  font-size: 16px;
  line-height: 1.2;
}

.section-comand .descript {
  color: var(--second-text-color);
}

.section-comand .subtitle {
  font-weight: 500;
}

.footer-section .link:hover,
.footer-section .link:focus {
  color: var(--akcent-color);
}

/* Секция портфолио */
.section-portfolio .subtitle {
  color: var(--main-text-color);

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

.section-portfolio .descript {
  color: var(--second-text-color);

  font-size: 16px;
  line-height: 1.8;
}

.button {
  color: var(--main-text-color);
  background-color: var(--second-bg-color);

  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6em;

  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--bg-color);
  background-color: var(--akcent-color);
}

.footer-section {
  background-color: #2f303a;
}

.footer-discript {
  color: var(--bg-color);

  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
}

.footer-section .site-logo {
  color: var(--bg-color);
}
